---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Sonya Lawrence" description="About Sonya Lawrence">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About Me"
        tagline="Thanks for stopping by. Read below to learn more about me."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Sonya Lawrence at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am Sonya "Sunny" Lawrence, a curious and intrinsically motivated
            Analyst with a passion for solving complex problems and crafting
            strategic solutions. My journey through the consumer goods,
            manufacturing, and healthcare industries has sharpened my analytical
            skills and deepened my love for data-driven decision-making.
          </p>
          <br />
          <p>
            I thrive on challenges that require a blend of systematic thinking
            and creativity. My expertise in Python, SQL, Database Manipulation,
            and financial analysis tools like Excel and Power BI enables me to
            turn data into actionable insights. I'm always learning and pushing
            the boundaries of what is possible, whether it be automating a
            process or diving into a new project with fresh eyes.
          </p>
          <br />
          <p>
            I believe in finding the right solution for every problem, and I am
            driven by a disciplined approach and a relentless curiosity. My goal
            is to leverage my skills to make a meaningful impact, all while
            staying true to my love for learning and exploration.
          </p>
          <br />
          <p>
            Favorite quote: "The only thing we have to fear is fear itself" FDR
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <p class="sub-section">
            <u> Financial Analyst</u>
            <!-- <h6>(Sep 2022 - Oct 2023)</h6> -->
          </p>
          <b>Jacksonville Orthopaedic Institute</b>
          <ul>
            <li>
              Produced and maintained monthly financial dashboards for 5
              divisions, 13 rehabilitative centers, and 33 doctors using
              PowerBi; proactively identifying actionable trends in insurance
              claims, collections, patient payments, and employee productivity
            </li>
            <li>
              Created demand and assumption-based budget models using Python,
              leveraging historical data to drive variance analysis, improving
              budget accuracy by 15%
            </li>
            <li>
              Collaborated with cross-functional teams to implement various
              stored procedures for data cleaning and extraction using SQL
              Server Management Studio, Visual Studio Code, and PowerBi,
              streamlining interdepartmental workflows and enhancing HIPPA data
              privacy compliance using restrictions
            </li>
            <li>
              Automated manual company-wide data reconciliation and reporting
              processes using Excel and Python, resulting in a 20% increase in
              operational efficiency and reducing errors across departments by
              over 70%
            </li>
            <li>
              Developed key performance indicators (KPI) using Excel and SQL,
              including metrics for financial performance and payroll data
              analysis, reducing monthly department reporting time from 1 week
              to 2 days
            </li>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Data Quality Analyst</u>
            <!-- <h6>(Nov 2020 - Sep 2022)</h6> -->
          </p>
          <b>FCRD Services</b>
          <ul>
            <li>
              Delivered executive-level PowerBi reports and PowerPoint
              presentations, guiding key revenue and expense decisions that
              optimized financial outcomes by 10%
            </li>
            <li>
              Designed interactive dashboards in PowerBi to track product
              effectiveness, providing insights that led to improved
              decision-making and increased customer satisfaction
            </li>
            <li>
              Conducted drill-down analysis using Excel and PowerBI to uncover
              operational inefficiencies providing recommendations that led to a
              25% improvement in overall efficiency
            </li>
            <li>
              Built and optimized ROI and cash flow projection models using
              advanced Excel functions, improving financial forecasting accuracy
              by 10-15% and informing strategic leadership decisions
            </li>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Data Science Fellow</u>
            <!-- <h6>(Jan 2022 - Jul 2022)</h6> -->
          </p>
          <b>EdX</b>
          <ul>
            <li>
              Demonstrated proficiency in SQL and experience in designing and
              implementing data models, conducting data analysis, and performing
              ELT functions to extract, load, and transform data.
            </li>
            <li>
              Improved skills in using IBM Cognos, Power BI, and various Python
              libraries such as Matplotlib, Pandas, Seaborn, and Plotly to
              visualize reports and generate dashboards.
            </li>
            <li>
              Developed a strong understanding of Machine Learning algorithms
              and models, with experience applying them to real-world problems
              using Python and MySQL in Jupyter Notebook.
            </li>
            <li>
              Demonstrated ability to develop and implement structured
              methodologies to tackle complex data science problems and
              projects.
            </li>
            <li>
              Gained experience in data mining, cleaning, and wrangling, and
              constructing data pipelines to support Machine Learning and other
              analytics use cases.
            </li>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> Accountant</u>
            <!-- <h6>(Dec 2019 - Nov 2020)</h6> -->
          </p>
          <b>Indiana Stamp Company</b>
          <ul>
            <li>
              Oversaw daily and monthly manual bank reconciliations for over
              1,500 customer accounts, ensuring 100% accuracy and completeness
              of financial records
            </li>
            <li>
              Managed customer data life cycles using proprietary software,
              ensuring full compliance with data privacy regulations and
              reducing data handling errors by 90%
            </li>
            <li>
              Provided prompt and professional responses to manufacturing and
              billing inquiries, enhancing customer satisfaction and
              accelerating payment timelines by over 75%
            </li>
            <li>
              Managed state and federal tax compliance by completing quarterly
              tax filings with 100% accuracy, ensuring timely remittance and
              preventing financial penalties
            </li>
            <li>
              Investigated and resolved accounting discrepancies, reducing
              financial reporting errors by 90% and ensuring data accuracy and
              compliance with internal audit standards
            </li>
            <li>
              Streamlined accounts payable procedures by restructuring data
              entry schedules and workflows, increasing efficiency by over 150%,
              and achieving significant operational cost savings
            </li>
            <li>
              Processed over 120 daily accounts receivable, credit card
              transactions, and invoices using cloud-based systems, reducing
              payment lag time and improving cash flow management
            </li>
          </ul>
        </div>
        <!-- <div class="content">
          <p class="sub-section">
            <u> Staff Accountant/Office Manager</u>
            <h6>(Jul 2016 - Oct 2019)</h6>
          </p>
          <b>BTS Plumbing & Heating</b>
          <ul>
            <li>
              Collaborated with the CPA to review and verify 
              financial statements for GAAP compliance, improving 
              financial accuracy and integrity by 15%
            </li>
            <li>
              Recorded and managed customers personally identifiable 
              data using proprietary local software, ensuring 100% 
              compliance with data privacy regulations 
            </li>
            <li>
              Analyzed complex business problems using Excel and 
              accounting tools, providing actionable insights that 
              enhanced decision-making and operational workflows
            </li>
            <li>
              Spearheaded company-wide data transformation from 
              hardware QuickBooks and proprietary software, improving 
              data accessibility and operational efficiency
            </li>
            <li>
              Managed daily job schedules for 50+ contractors using 
              Excel's aggregate functions, ensuring timely job 
              completion and improving contractor productivity by 
              over 25%
            </li>
            <li>
              Accurately coded financial data using QuickBooks 
              Desktop Pro to generate over 500 monthly invoices 
              and prepare yearly financial statements, ensuring 
              accurate reporting and compliance
            </li>
            <li>
              Developed and maintained Excel spreadsheets with over 
              10,000 customer job profiles using Pivot Tables, 
              LOOKUP functions, and nested formulas to streamline 
              data management and reporting
            </li>
          </ul>
        </div> -->
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="sub-section">
            <u> Huntington University</u>
          </p>
          <ul>
            <li>Bachelor of Science, Accounting</li>
            <li>Bachelor of Arts, Psychology</li>
            <li>Minor in Management</li>
            <!-- <li>Cum Laude</li> -->
            <li>Activities and societies:</li>
            <ul style="list-style-type: none">
              <li>&#x003E; International Student Council, Treasurer</li>
              <li>&#x003E; Alpha Gamma Pi, President</li>
              <li>&#x003E; Friesen Center, Volunteer</li>
              <!-- <li>&#x003E; Campus Ministries Coordinator</li> -->
            </ul>
          </ul>
        </div>
        <div class="content">
          <p class="sub-section">
            <u> International Open Academy</u>
          </p>
          <ul>
            <li>Certified ESL Instructor</li>
            <ul style="list-style-type: none">
              <li>&#x003E; Teaching English as a Second Language</li>
            </ul>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }
  .sub-section {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
